<footer>
    <center class="container">
        <div class="content1">
            <img src="" class="img1">
            <img src="" class="img2">
            <img src="" class="img3">
        </div>
        <div class="content2">
            <h2>CopyRight @MR</h2>
        </div>
    </center>
</footer>