<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ejs.css">
    <title>Document</title>
</head>
<body>
    <!-- <div class="nav-bar">
        <h1 class="logo" id="one">H.O.P.E</h1>
        <div class="navv" id="two">
            <a class="atag" href="/">HOME</a>
            <a class="atag" href="/getfood">GET FOOD</a>
            <a class="atag" href="/contactus">CONTACT US</a>
            <a class="atag" href="/aboutus">ABOUT US</a>
        </div>
    </div> -->
    <div class="container">
        <div class="items" id="item1">
            <h1 class="logo">H.O.P.E</h1>
        </div>
        <div class="items container2" id="item2">
            <a class="atag" href="/">HOME</a>
            <a class="atag" href="/getfood">GET FOOD</a>
            <a class="atag" href="/contactus">CONTACT US</a>
            <a class="atag" href="/aboutus">ABOUT US</a>
        </div>
    </div>
</body>
</html>