<%- include("partials/header"); -%>

<center>
    <h1>Failed to Validate</h1>
    <h2>Click to redirect to Donate page </h2></br>
    <a href="/donate"><button>Click</button></a>
</center>

<%- include("partials/footer"); -%>