<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Sign Up</title>
</head>
<body>
        <div class="signup-container">
            <img src="/images/hope.gif" class="image">
            <form class="form"  action="/register" method="post">
                <h2 class="heading">SIGN UP</h2>
                <label class="fname-label allforone">First Name</label><br>
                <input type="text" class="fname oneforall" name="fname" placeholder="first name">
                <br>
                <label class="lnamelabel  allforone">Last Name</label><br>
                <input type="text" class="lname oneforall" name="lname" placeholder="last name">
                <br>
                <label class="email-label  allforone">Email</label><br>
                <input type="email" class="email oneforall" name="email" placeholder="email">
                <br>
                <label class="password-label  allforone">password</label><br>
                <input type="password" class="password oneforall" name="password" placeholder="password">
                <br>
                <br>
                <button type="submit" class="submit">Sign-Up</button>
            </form>
        </div>
</body>
</html>