<%- include("partials/header"); -%>

<center class="main">
    <h1>SUCESSFULLY VALIDATED </h1>
    <h2>Click to redirect to HomePage </h2></br>
    <a href="/"><button>Click</button></a>
</center>

<%- include("partials/footer"); -%>
